@import url('https://fonts.googleapis.com/css2?family=Pirata+One&family=Poppins&family=Roboto:ital,wght@0,400;1,300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background: #0E0F10;
  color: #CCE2F3;
  font-family: 'Roboto', sans-serif;
}

@layer components{
  .input-form{
      @apply block p-3 rounded-md w-full mb-3 bg-zinc-700 
  }
}
.title-font{
    font-family: 'Pirata One', sans-serif;
}
.subtitle-font{
  font-family: 'Roboto', sans-serif;

}